.kud-IndexWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  margin: 0;
}

.kud-IndexLanguageChoice {
  text-align: center;
}

.kud-IndexLanguageChoice-button {
  display: inline-block;
  padding: 15px 20px;
  margin: 0 20px;
  color: #333;
  font-size: 3rem;
  font-weight: normal;
  border-bottom: 2px dotted transparent;
  transition: 0.5s ease;
}

.kud-IndexLanguageChoice-button:hover {
  border-bottom-color: #333;
}

.kud-IndexLanguageChoice-button[data-hint]::before,
.kud-IndexLanguageChoice-button[data-hint]::after {
  transition-delay: 1s;
}
