/**
 * Posts
 */
html.posts {
  background: url("./../images/background.jpg") center -600px fixed no-repeat;
  padding-top: 250px;
  background-size: cover;
}

html.posts .kud-Wrapper {
  padding-top: 220px;
}

.kud-Posts {
}

.kud-Posts-list {
  list-style: none;
}

.kud-Posts-listItem {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 2rem;
}

.kud-Posts-listItemTime {
  color: #aaa;
  margin-right: 15px;
  width: 7rem;
  display: inline-block;
  text-align: right;
}

@media (max-width: 640px) {
  html.posts {
    background: none;
    padding-top: 100px;
  }

  .kud-Posts-list {
    margin: 0;
    padding: 0;
  }

  .kud-Posts-listItem {
    margin-bottom: 0.5rem;
  }

  .kud-Posts-listItemTime {
    display: block;
    width: 100%;
    text-align: left;
  }
}
