/**
 * Post
 */
.kud-Post {

}

  .kud-PostHeader {
    position: relative;
    border-radius: 4px;
  }

  .kud-PostHeader-img {
    display: block;
    width: 100%;
  }

/*  .kud-PostHeader-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    content: '';
    padding: 1rem;
    transition: .5s;
    cursor: pointer;
  }

  .kud-PostHeader-overlay::before {
    content: '';
    border: 1px solid #FFF;
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 2px;
    transition: .5s;
  }

  .kud-PostHeader-overlay:hover {
    background: rgba(0,0,0,.0);
  }

  .kud-PostHeader-overlay:hover::before {
    border: 0;
  }

  .kud-PostHeader-overlay:hover .kud-PostHeader-heading {
    transform: translateY(-2000px);
  }

  .kud-PostHeader-overlay:hover .kud-PostHeader-date {
    transform: translateY(2000px);
  }*/

/*  .kud-PostHeader-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }*/

  .kud-PostHeader-heading {
    color: #4F5A63;
    font-family: "Raleway",Arial,sans-serif;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  .kud-PostHeader-date {
    color: #869D9E;
    font-size: 1rem;
    display: block;
    text-align: center;
  }

/** content */
  .kud-Post-content {
    line-height: 1.6rem;
  }

  .kud-Post-content p:first-of-type::first-letter {
    font-size: 4.375rem;
    float: left;
    line-height: 3.75rem;
    padding: 4px 12px 0px 0px;
  }

  .kud-Post-content img {
    display: block;
    border-radius: 4px;
    width: 100%;
  }

  .kud-Post-content iframe {
    width: 100%;
  }

  .kud-Post-content hr {
    border: 0;
    height: 0;
    border-bottom: 1px dashed #EEE;
  }

  .kud-Post-content p {
    clear: both;
  }

@media (max-width: 640px) {

  html.kud-Status--post {
    padding-top: 50px;
  }

  .kud-Footer {
    padding-top: 1rem;
  }

}
