/**
 * Post
 */
.kud-Post {

}

  .kud-PostHeader {
    position: relative;
    border-radius: 4px;
  }

    .kud-PostHeader-decorator {
      display: block;
      width: 100%;
    }

    .kud-PostHeader-img {
      display: block;
      width: 100%;
    }

    .kud-PostHeader-heading {
      color: #4F5A63;
      /*font-family: Raleway, Arial, sans-serif;*/
      text-align: center;
      font-size: 2.5rem;
      margin-bottom: 1rem;
    }

    .kud-PostHeader-date {
      color: #869D9E;
      font-size: 1rem;
      display: block;
      text-align: center;
    }

  /** content */
  .kud-Post-content {
    line-height: 1.6rem;
    margin-bottom: 3rem;
  }

  .kud-Post-content p:first-of-type::first-letter {
    font-size: 4.375rem;
    float: left;
    line-height: 3.75rem;
    font-family: "Raleway";
    padding: 4px 12px 0px 0px;
  }

  .kud-Post-content p {
    clear: both;
  }

  .kud-Post-content img {
    display: block;
    border-radius: 4px;
    width: 100%;
  }

  .kud-Post-content iframe {
    width: 100%;
  }

  .kud-Post-content hr {
    border: 0;
    height: 0;
    border-bottom: 1px dashed #EEE;
  }


  .kud-Post-content ul {
    list-style: none;
  }

  .kud-Post-content li {
    position: relative;
  }

    .kud-Post-content li::before {
      content: '✕';
      position: absolute;
      left: -18px;
      top: 0px;
      font-size: 1rem;
      color: #869D9E;
    }
