/**
 * Post
 */
.kud-PostHeader {
  position: relative;
  border-radius: 4px;
}

.kud-PostHeader-decorator {
  display: block;
  width: 100%;
  max-height: 300px;
  overflow: hidden;
  transition: max-height 500ms ease-in;
  cursor: pointer;
}

.kud-PostHeader-decorator:hover {
  max-height: 9999px;
}

.kud-PostHeader-img {
  display: block;
  width: 100%;
}

.kud-PostHeader-heading {
  color: #4f5a63;
  text-align: center;
  font-size: 4rem;
  margin-bottom: 1rem;
}

.kud-PostHeader-heading a {
  color: inherit;
}

.kud-PostHeader-heading a:hover::after {
  display: none;
}

.kud-PostHeader-date {
  color: #869d9e;
  font-size: 1.6rem;
  display: block;
  text-align: center;
  margin-bottom: 8rem;
}

/** content */
.kud-Post-content {
  line-height: 1.6;
  margin-bottom: 20rem;
}

.kud-Post-content p {
  margin: 3rem 0;
  line-height: 1.8;
}

.kud-Post-content img {
  display: block;
  border-radius: 4px;
  width: 100%;
  margin: 8rem auto;
}

.kud-Post-content iframe {
  width: 100%;
}

.kud-Post-content hr {
  border: 0;
  height: 0;
  border-bottom: 1px dashed #eee;
}

.kud-Post-content ul {
  list-style: none;
}

.kud-Post-content li {
  position: relative;
}

.kud-Post-content li::before {
  content: "✕";
  position: absolute;
  left: -25px;
  top: 0px;
  font-size: 1.5rem;
  color: #869d9e;
}

.kud-Post-content code {
  border-radius: 4px;
  font-family: "Ubuntu Mono", monospace;
}

.kud-Post-content code:not(.hljs) {
  background: #1b2b34;
  color: #cdd3de;
  padding: 0.2rem 0.5rem;
  font-size: 1.6rem;
  line-height: 1.4;
  vertical-align: 1px;
}

.kud-Post-content code.hljs {
  background: #1b2b34;
  color: #cdd3de;
  padding: 2rem;
  font-size: 1.6rem;
  line-height: 1.4;
  white-space: pre-wrap;
}

.kud-Post-content blockquote {
  border-left: 4px solid #f5cc36;
  font-size: 1.3rem;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px 20px;
  font-family: Lusitana, serif;
  margin-left: 0;
}

.kud-Post-content blockquote p:first-child {
  margin-top: 0;
}

.kud-Post-content blockquote p:last-child {
  margin-bottom: 0;
}
