.kud-Banner {
  background: #fafafa;
  padding: 2rem 2rem;
}

.kud-Banner-link {
  color: #475957;
  font-size: 1.5rem;
  transition: all 0.3s ease;
  display: inline-flex;
}

.kud-Banner-link::before {
  content: "«";
  display: block;
  margin-right: 0.5rem;
  font-size: 1.5rem;
}

.kud-Banner-link:hover {
  color: #333;
}
