/**
 * Header
 */
.kud-Header {
  position: absolute;
  top: -75px;
  left: 0;
  right: 0;
  padding-top: 18rem;
  font-size: 2.5rem;
}

.kud-Header--index {
  top: -200px;
}

.kud-Header-avatar {
  width: 15rem;
  height: 15rem;
  display: block;
  border-radius: 50%;
  border: 3px solid #fff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.kud-Header-avatar:hover {
  border: 3px solid #fff;
  top: -0.5rem;
}

.kud-Header-avatar img {
  display: block;
  width: 100%;
  height: 100%;
}

.kud-Header-heading {
  text-align: center;
}
