a {
  color: #2a86c8;
  text-decoration: none;
}

.kud-Text--center {
  text-align: center;
}

.kud-Text--wowLink a:not(.kud-Anchor) {
  position: relative;
}

.kud-Text--wowLink a:not(.kud-Anchor)::after {
  position: absolute;
  top: 120%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #a3cdec;
  content: "";
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
  transform: translateY(2px);
}

.kud-Text--wowLink a:not(.kud-Anchor):hover::after,
.kud-Text--wowLink a:not(.kud-Anchor):focus::after {
  opacity: 1;
  transform: translateY(0px);
}
