mixin header(klass)
  div(class='kud-Header ' + klass)
    a(class='kud-Header-avatar' href='/diary/')
      img(src='https://en.gravatar.com/userimage/10327718/3329a7e1b8bdd60fbe78c66e40bd4761.jpg?size=200')
    h1.kud-Header-heading Diary of the _kud
