head
  meta(charset='utf-8')
  title='_kud.diary'
  meta(name='description', content='Diary of the _kud')
  link(href='http://fonts.googleapis.com/css?family=IM+Fell+English' rel='stylesheet' type='text/css')
  link(rel='stylesheet' href='/diary/index.css')
