include partials/head
include partials/header

doctype html
html.index
  mixin head('')
  body
    div.kud-IndexWrapper

      div(class='kud-Header kud-Header--index')
        div(class='kud-Header-avatar')
          img(src='http://www.gravatar.com/avatar/e6eaeaa6da69e804c27c2d4cd55107e0?s=500')

      p.kud-IndexLanguageChoice
        a(href='/fr/' title="Français").kud-IndexLanguageChoice-button fr_FR
        a(href='/en/' title="English").kud-IndexLanguageChoice-button en_UK

    include partials/scripts
