include partials/head
include partials/header

doctype html
html.naked
  mixin head('')
  body
    p.kud-LanguageChoice
      a(href='/fr/').kud-LanguageChoice-button Français
      a(href='/en/').kud-LanguageChoice-button English
    include partials/scripts
