include partials/header

doctype html
html
  include partials/head
  //- body.animated.fadeIn
  body
    div.kud-Wrapper

      mixin header('')

      section.kud-Summary.kud-BeautifyLink

        h2.kud-Summary-heading Articles

        ul.kud-Summary-list

          each post in collections.posts

            li.kud-Summary-listItem
              a(href=post.path + '/')= post.title

      include partials/foot
