include partials/header

doctype html
html
  include partials/head
  //- body.animated.fadeIn
  body
    div.kud-Wrapper

      mixin header('')

      section.kud-Summary.kud-BeautifyLink

        h2.kud-Summary-heading Articles

        ul.kud-Summary-list

          each post in collections.posts

            li.kud-Summary-listItem
              time.kud-Summary-listItemTime= moment(post.date).lang('fr').format('DD MMM YYYY')
              a(href=post.path + '/').kud-Summary-listItemHeading= post.title

      include partials/foot
