include partials/head
include partials/header

doctype html
html.kud-Status--post
  mixin head(title)
  //- body.animated.fadeIn
  body
    div.kud-Wrapper

      mixin header('')

      section.kud-Post.kud-BeautifyLink.animated.fadeIn

        div.kud-PostHeader

          img(src=heading).kud-PostHeader-img

          div.kud-PostHeader-overlay

            div.kud-PostHeader-wrapper

              h2.kud-PostHeader-heading=title

              time.kud-PostHeader-date= moment(date).locale('fr').format('dddd Do MMMM YYYY')

        div.kud-Post-content!= contents

      include partials/foot
    include partials/scripts
