include partials/header

doctype html
html.kud-Status--post
  include partials/head
  //- body.animated.fadeIn
  body
    div.kud-Wrapper

      mixin header('')

      section.kud-Post.kud-BeautifyLink.animated.fadeIn

        p.kud-Post-date
          | Le 
          time= moment(date).lang('fr').format('dddd Do MMMM YYYY.')

        h2.kud-Post-heading= title

        div!= contents

      include partials/foot
