include partials/header

doctype html
html
  include partials/head
  body.animated.fadeIn
    div.kud-Wrapper

      mixin header('kud-Header--small')

      section.kud-Post.kud-BeautifyLink

        h2.kud-Post-heading= title

        p
          | Le 
          time= moment(date).lang('fr').format('dddd Do MMMM YYYY.')

        div!= contents

      include partials/foot
