div.kud-Footer.kud-BeautifyLink

  ul.kud-Footer-list

    li.kud-Footer-listItem
      a(href='http://kud.io') La Maison

    li.kud-Footer-listItem
      a(href='http://instagram.kud.io') Le Instagram

    li.kud-Footer-listItem
      a(href='http://twitter.kud.io') Le Twitter
