div.kud-Footer.kud-BeautifyLink

  ul.kud-Footer-list

    if lang === 'fr'
      li.kud-Footer-listItem
        a(href='http://kud.io').kud-Footer-listLink La Maison

      li.kud-Footer-listItem
        a(href='http://instagram.kud.io').kud-Footer-listLink Le Instagram

      li.kud-Footer-listItem
        a(href='http://twitter.kud.io').kud-Footer-listLink Le Twitter

      li.kud-Footer-listItem
        a(href='/en/').kud-Footer-listLink I speak English

    if lang === 'en'
      li.kud-Footer-listItem
        a(href='http://kud.io').kud-Footer-listLink Homepage

      li.kud-Footer-listItem
        a(href='http://instagram.kud.io').kud-Footer-listLink Instagram

      li.kud-Footer-listItem
        a(href='http://twitter.kud.io').kud-Footer-listLink Twitter

      li.kud-Footer-listItem
        a(href='/fr/').kud-Footer-listLink Je parle français
