div.kud-Footer.kud-Text--wowLink

  ul.kud-Footer-list

    li.kud-Footer-listItem
      a(href='http://kud.io').kud-Footer-listLink= trans.footer.home

    li.kud-Footer-listItem
      a(href='http://instagram.kud.io').kud-Footer-listLink= trans.footer.instagram

    li.kud-Footer-listItem
      a(href='http://twitter.kud.io').kud-Footer-listLink= trans.footer.twitter

    li.kud-Footer-listItem
      a(href='/' + antiLang + '/').kud-Footer-listLink= trans.footer.speaking

