mixin header(klass)
  div(class='kud-Header ' + klass)
    a(class='kud-Header-avatar' href='//kud.io' title="Hello!")
      img(src='http://www.gravatar.com/avatar/e6eaeaa6da69e804c27c2d4cd55107e0?s=500')
    h1.kud-Header-heading Diary of the _kud
