*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  /*font-family: 'Droid Serif', serif;*/
  font-family: 'Proxima Nova Thin', sans-serif;
  font-size: 1.1rem;
  margin: 0;
  padding: 0;
  color: #333;
  background: #FFF;
  line-height: 1.6rem;
}

html {
  background: url('images/mountain.jpg') center -420px fixed no-repeat;
  background-size: cover;
  padding-top: 250px;
  height: 100%;
}

body {
  /*border-top: 1px solid #333;*/
  min-height: 100%;
  border-bottom: 10px solid #333;
}

html.naked {
  padding-top: 0;
  background: none;
}

html.naked body {
  border-bottom: 0px;
}

.animated.fadeIn {
  animation-duration: 1s;
}

a {
  /*color: #909090;*/
  color: #ED4545;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}

.kud-Text--center {
  text-align: center;
}

.kud-Wrapper {
  max-width: 43rem;
  padding: 1rem;
  padding-top: 220px;
  margin: auto;
  background: white;
  position: relative;
}

@media (max-width: 640px) {

  html {
    background: none;
    padding-top: 100px;
  }

}
