.kud-IndexWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  margin: 0;
}

  .kud-IndexLanguageChoice {}

    .kud-IndexLanguageChoice-button {
      display: inline-block;
      padding: 15px 20px;
      margin: 0 20px;
      color: #333;
      font-size: 30px;
      font-weight: normal;
      border-bottom: 2px dotted transparent;
      transition: .5s ease;
    }

      .kud-IndexLanguageChoice-button:hover {
        border-bottom-color: #333;
      }
