/**
 * Summury
 */
.kud-Summary-list {
  list-style: none;
}

.kud-Summary-listItem {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.kud-Summary-listItemTime {
  color: #AAA;
  margin-right: 15px;
  width: 7rem;
  display: inline-block;
  text-align: right;
}

@media (max-width: 640px) {

  .kud-Summary-listItemTime {
    display: block;
    width: 100%;
  }

}
