*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

html,
body {
  /*font-family: 'Droid Serif', serif;*/
  font-family: 'Arial';
  font-size: 1.1rem;
  margin: 0;
  padding: 0;
  color: #333;
  background: #FFF;
  line-height: 1.6rem;
}

html {
  background: url('images/mountain.jpg') center -420px fixed no-repeat;
  background-size: cover;
  padding-top: 250px;
}

body {
  /*border-top: 1px solid #333;*/
  min-height: 100%;
  border-bottom: 10px solid #333;
}

.animated.fadeIn {
  animation-duration: 2s;
}

a {
  /*color: #909090;*/
  color: #ED4545;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /*font-family: 'IM Fell English', serif;*/
}

/*.kud-BeautifyLink a {
  transition: 0.5s ease;
}

.kud-BeautifyLink a {
  display: inline-block;
  position: relative;
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
}

.kud-BeautifyLink a:before {
  content: '';
  position: absolute;
  border: #F5F7E7 solid 4px;
  top: -3px;
  right: -3px;
  bottom: -3px;
  left: -3px;
  opacity: 0;
  transition-duration: .3s;
  transition-property: top right bottom left;
  border-radius: 4px;
}

.kud-BeautifyLink a:hover {
  background: #F5F7E7;
}

.kud-BeautifyLink a:hover:before {
  opacity: 1;
}*/

.kud-BeautifyLink a {
  position: relative;
}

.kud-BeautifyLink a::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background: #ED4545;
  content: '';
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
  transform: translateY(10px);
}

.kud-BeautifyLink a:hover::after,
.kud-BeautifyLink a:focus::after {
  opacity: 1;
  transform: translateY(0px);
}

.kud-Text--center {
  text-align: center;
}

.kud-Wrapper {
  max-width: 45rem;
  padding: 1rem;
  margin: auto;
  background: white;
  position: relative;
  padding-top: 220px;
}

/**
 * Header
 */
.kud-Header {
  position: absolute;
  top: -75px;
  left: 0;
  right: 0;
  padding-top: 10rem;
}

  .kud-Header-avatar {
    width: 8.75rem;
    height: 8.75rem;
    display: block;
    border-radius: 50%;
    border: 3px solid #FFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    cursor: pointer;
    transition: all .3s ease;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .kud-Header-avatar:hover {
    border: 3px solid #FFF;
    width: 9.75rem;
    height: 9.75rem;
    top: -.5rem;
  }

  .kud-Header-avatar img {
    display: block;
    width: 100%;
    height: 100%;
  }

  .kud-Header-heading {
    text-align: center;
  }

    /*.kud-Header--small {
      padding-top: 0;
      padding-left: 5rem;
      margin-bottom: 4rem;
    }

    .kud-Header--small .kud-Header-heading {
      text-align: left;
      font-size: 1.4rem;
    }

    .kud-Header--small .kud-Header-avatar {
      left: 0rem;
      top: -1.1rem;
      transform: translate(0, 0);
      width: 4rem;
      height: 4rem;
    }

    .kud-Header--small .kud-Header-avatar:hover {
      width: 5rem;
      height: 5rem;
      top: -1.6rem;
      left: -0.5rem;
    }*/

/**
 * Footer
 */
.kud-Footer {
  margin: 2rem 0;
  text-align: center;
}

  .kud-Footer-list {
    margin: 0;
    padding: 0;
  }

  .kud-Footer-listItem {
    display: inline-block;
    padding: 2rem;
    padding-right: 0;
  }

  .kud-Footer-listItem::before {
    content: '✦';
    display: inline-block;
    margin-right: 2rem;
  }

  .kud-Footer-listItem:first-child::before {
    display: none;
  }

  .kud-Footer-listItem a {
    display: inline-block;
  }

/**
 * Summury
 */
.kud-Summary-list {
  list-style: none;
}

.kud-Summary-listItemTime {
  color: #AAA;
  margin-right: 15px;
}

/**
 * Post
 */
html.kud-Status--post {
  padding-top: 120px;
}

html.kud-Status--post .kud-Wrapper {
  padding-top: 135px;
}

html.kud-Status--post .kud-Header {
  top: -35px;
  padding-top: 4rem;
}


html.kud-Status--post .kud-Header-avatar {
  width: 4rem;
  height: 4rem;
}

html.kud-Status--post .kud-Header-avatar:hover {
  width: 5rem;
  height: 5rem;
  top: -.5rem;
}

html.kud-Status--post .kud-Header-heading {
  font-size: 1.2rem;
}

.kud-Post {

}

  .kud-Post img {
    width: 75%;
    margin: auto;
    display: block;
    border: 5px solid #FFF;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all .3s ease;
  }

  .kud-Post img:hover {
    border: 5px solid #FFF;
    width: 80%;
  }

  .kud-Post-heading {
    color: #ED4545;
  }
