*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  font-family: 'IM Fell English', serif;
  font-size: 1.1rem;
  margin: 0;
  padding: 0;
  color: #333;
}

body.animated.fadeIn {
  animation-duration: 2s;
}

a {
  color: #909090;
  text-decoration: none;
}

.kud-BeautifyLink a {
  transition: all .3s ease;
}

.kud-BeautifyLink a:hover {
  color: white;
  background: #333;
  padding: .3rem;
  margin: -.3rem;
  cursor: pointer;
}

.kud-Wrapper {
  max-width: 45rem;
  padding: 1rem;
  margin: auto;
}

/**
 * Header
 */
.kud-Header {
  position: relative;
  padding-top: 10rem;
}

  .kud-Header-avatar {
    width: 8.75rem;
    height: 8.75rem;
    display: block;
    border-radius: 50%;
    border: 3px solid #FFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    cursor: pointer;
    transition: all .3s ease;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .kud-Header-avatar:hover {
    border: 3px solid #FFF;
    width: 9.75rem;
    height: 9.75rem;
    top: -.5rem;
  }

  .kud-Header-avatar img {
    display: block;
    width: 100%;
    height: 100%;
  }

  .kud-Header-heading {
    text-align: center;
  }

    .kud-Header--small {
      padding-top: 0;
      padding-left: 5rem;
      margin-bottom: 4rem;
    }

    .kud-Header--small .kud-Header-heading {
      text-align: left;
      font-size: 1.4rem;
    }

    .kud-Header--small .kud-Header-avatar {
      left: 0rem;
      top: -1.1rem;
      transform: translate(0, 0);
      width: 4rem;
      height: 4rem;
    }

    .kud-Header--small .kud-Header-avatar:hover {
      width: 5rem;
      height: 5rem;
      top: -1.6rem;
      left: -0.5rem;
    }

/**
 * Post
 */

.kud-Post {

}

  .kud-Post-heading {
    color: #ED4545;
  }

/**
 * Footer
 */
.kud-Footer {
  margin: 2rem 0;
  text-align: center;
}

  .kud-Footer-list {
    margin: 0;
    padding: 0;
  }

  .kud-Footer-listItem {
    display: inline-block;
    padding: 2rem;
    padding-right: 0;
  }

  .kud-Footer-listItem:before {
    content: '✦';
    display: inline-block;
    margin-right: 2rem;
  }

  .kud-Footer-listItem:first-child:before {
    display: none;
  }

  .kud-Footer-listItem a {
    display: inline-block;
  }
