.kud-BeautifyLink a {
  position: relative;
}

.kud-BeautifyLink a::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background: #ED4545;
  content: '';
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
  transform: translateY(2px);
}

.kud-BeautifyLink a:hover::after,
.kud-BeautifyLink a:focus::after {
  opacity: 1;
  transform: translateY(0px);
}
