/**
 * Footer
 */
.kud-Footer {
  margin: 2rem 0;
  text-align: center;
  border-top: 1px solid #EEE;
}

  .kud-Footer-list {
    margin: 0;
    padding: 0;
  }

  .kud-Footer-listItem {
    display: inline-block;
    padding: 2rem;
    padding-right: 0;
  }

  .kud-Footer-listItem::before {
    content: '×';
    display: inline-block;
    margin-right: 2rem;
  }

  .kud-Footer-listItem:first-child::before {
    display: none;
  }

  .kud-Footer-listItem a {
    display: inline-block;
  }

@media (max-width: 640px) {

  .kud-Footer-listItem {
    display: block;
    padding: 0;
  }

  .kud-Footer-listItem:first-child::before {
    display: inline;
  }

  .kud-Footer-listItem::before {
    content: ']';
    margin-right: 0;
    padding-right: 1em;
  }

  .kud-Footer-listItem::after {
    content: '[';
    padding-left: 1em;
  }

}
